
<html>

<head>
 <link rel="stylesheet" href="css/style.css" type="text/css" media=screen>
</head>

<body>



	<table  width=600 border=0 cellpadding=0 cellspacing=0>
		<tr>
			<td colspan=4 >
				<!--old navbar-->
				
			</td>
		</tr>
		
		
		<tr>
			<!-- header -->
			<td>
				<table class="toolheader black" width=100%>
					<tr>
						<td width=100% height=18><!--User Login--></td>
					</tr>
				</table>	
			</td>
		</tr>
		
		<tr>
			<td class=info valign=top height=100%>
				
				<div class=bubbleSection>
				<% if flash[:error] %>
					<div class=flash>! <%= flash[:error] %></div><br>
				<% end %>
				<%= form_for 'session', :url=>{:action=>:create} do |s| %>
				
					<h3 class=hdr>Please Login</h3>
					<%= s.label :email, :class=>'info black' %><%= s.text_field :email, :size=>nil %>
					<%= s.label :password, :class=>'info black' %><%= s.text_field :password, :size=>nil, :type=>:password %>
					<label>&nbsp;</label><%= s.submit 'Login...', :class=>:infohdr %>
					
				<% end %>
				</div>

				<div class="info black">
					<a href="#" class="info copper">forget password?</a> | 
					<a href="/register" class="info copper">register</a>
				</div>
			</td>
		</tr>
</body>

</html>
